html, body{
    height: 200%;
    margin: 0px;
    padding: 0px;
}
#background{
    width: 100%;
    height: 100%;
    background-image:url('./assets/IMG_20181126_182509.JPG');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-position:center;
    position: absolute;
}

.cube {
    border-radius: 100px;
}

#first {
    width: 400px;
    height: 400px;
    /* background-image: url('./assets/img/0112090032-1-l&d-tee-love\ tee\ black\ white.png'); */
    background-color: aquamarine;
    background-size:100% auto;
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 4;
}
#second {
    width: 400px;
    height: 400px;
    /* background-image: url('./assets/img/0112120062-1-l\ &d-skjorte-love\ 286\ chain\ 10703.png'); */
    background-color: rgb(34, 221, 159);
    background-size:100% auto;
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 3;
}
#third {
    width: 400px;
    height: 400px;
    /* background-image: url('./assets/img/0112270049-1-l&d-top-love\ 157-3\ navy\ glitter.png'); */
    background-color: rgb(1, 136, 91);
    background-size:100% auto;
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 2;
}
#fourth {
    width: 400px;
    height: 400px;
    /* background-image: url('./assets/img/0118280003-1-wrangler-kjole-flannel\ dress\ black.png'); */
    background-color: rgb(3, 85, 58);
    background-size:100% auto;
    position: absolute;
    left: 200px;
    top: 300px;
    z-index: 1;
}

#button {
    position: absolute;
}