.cube {
    border-radius: 100px;
}

#first {
    width: 200px;
    height: 200px;
    background-image: url('./assets/img/0112090032-1-l&d-tee-love\ tee\ black\ white.png');
    background-size:100% auto;
    position: absolute;
    left: 200px;
    top: 300px;
}
#second {
    width: 200px;
    height: 200px;
    background-image: url('./assets/img/0112120062-1-l\ &d-skjorte-love\ 286\ chain\ 10703.png');
    background-size:100% auto;
    position: absolute;
    left: 450px;
    top: 250px;
}
#third {
    width: 200px;
    height: 200px;
    background-image: url('./assets/img/0112270049-1-l&d-top-love\ 157-3\ navy\ glitter.png');
    background-size:100% auto;
    position: absolute;
    left: 700px;
    top: 350px;
}
#fourth {
    width: 200px;
    height: 200px;
    background-image: url('./assets/img/0118280003-1-wrangler-kjole-flannel\ dress\ black.png');
    background-size:100% auto;
    position: absolute;
    left: 950px;
    top: 400px;
}

#button {
    position: absolute;
}